*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}
.App{
  max-height: 100vh;
  align-items: center;
}
h2{
  color: #68cfe8;
  font-weight: 500;
  font-size: 12.5rem;
  margin-top: 2rem;
}
@media (max-width:800px) {
  html{
    font-size: 52%;
  }
}
@media (max-width:556px) {
  html{
    font-size: 33%;
  }
}
@media (max-width:350px) {
  html{
    font-size: 25%;
  }
}
@media (max-width:230px) {
  html{
    font-size: 18%;
  }
}